body {
  background-image: url("https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e58dcf44c15c4b0b9457e44670be7c6e");
  background-attachment: fixed;
  text-align: center;
  font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, Tahoma, Geneva, sans-serif;
  color: white;
}

.box-spacing {
  padding: 1.5em;
  width: 20%;
  display: inline-block;
  margin: 0.5em;
  border-radius: 5px;
}

.buffer {

}

.drop {
  width: 41%;
  font-size: 1em;
  border-color: lightgrey;
  padding: 1em;
}

.dropdown-container {
  padding-bottom: 1.5em;
  color: grey;
}

.email {
  text-decoration: underline;
  margin-bottom: 0.5em;
}

.go-on {
  margin-bottom: 2em;

}

.icon {
  padding-bottom: 3em;
  width:2em;
  height:2em;
}

.input-container {
  padding-bottom: 0.5em;
}

.instruction-container {
  border-style: solid;
  width: 20em;
  height: 20em;
  display: inline-block;
  margin: 1em;
  padding-top: 5em;
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.icon-in {
  height: 4.2em;
  width: 4.2em;
  padding: 0.5em;
}

.icon-fb {
  height: 3.5em;
  width: 4.5em;
  padding: 0.5em;
}

.icon-tw {
  height: 3.5em;
  width: 3.5em;
  padding: 0.5em;
  margin-left: 0.3em;
}

.logo-image img {
  height: 10em;
  width: 10em;
}

.navibar {
  width: 100%;
}

.navibar img {
  padding-top: 0.5em;
  font-family: "Trench";
  font-size: 5em;
  width: 2em;
  height: 1em;
}

.replacement-text {
  padding-bottom: 8.2em;
  padding-top: 5em;
}

.row {
  width: 100%;
  margin-left: 0.05em;
}

.submit {
  width: 41.25%;
  padding: 1em;
  margin-bottom: 3em;
  background-color: #474747;
}

.submit:hover {
  color: #76EEC6;
}

.slogan-container {
  padding-bottom: 2em;
  padding-top: 7em;
  text-align: center;
}

.slogan-header {
  padding-bottom: 1em;
}

.slogan-text {
  font-size: 1.1em;
}

.text-container {
  text-align: center;
  width: 100%;
  padding-top: 2em;
}

.works-container {
  padding-bottom: 3em;
}

@media screen and (max-width: 400px) {
  .input-container {
    width: 100%;
  }

  .box-spacing {
    padding: 1.5em;
    width: 45%;
    display: inline-block;
    margin: 0.5em;
    border-radius: 5px;
  }

  #sign_up {
    padding-bottom: 0em;
  }

  .submit {
    margin-bottom: 0.5em;
    width: 93%;
  }

  .drop {
    width: 93%;
  }

  .navibar {
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
  }

  .navibar img {
    width: 2em;
    height: 1em;
  }

  .text-container {
    padding-top: 0.5em;
  }

  .slogan-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-bottom: 1em;
    padding-top: 4em;
  }

  .slogan-text {
    width: 80%;
    margin-left: 2em;
    font-size: 1em;
  }
}
