body {
  background-image: url("https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e58dcf44c15c4b0b9457e44670be7c6e");
  background-attachment: fixed;
  text-align: center;
  font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, Tahoma, Geneva, sans-serif;
  color: white;
}

.box-spacing {
  padding: 1.5em;
  width: 20%;
  display: inline-block;
  margin: 0.5em;
  border-radius: 5px;
}

.drop {
  width: 41%;
  font-size: 1em;
  border-color: lightgrey;
  padding: 1em;
}

.dropdown-container {
  padding-bottom: 1.5em;
  color: grey;
}

.icon {
  padding-bottom: 3em;
  width:2em;
  height:2em;
}

.input-container {
  padding-bottom: 0.5em;
}

.instruction-container {
  border-style: solid;
  width: 20em;
  height: 20em;
  display: inline-block;
  margin: 1em;
  padding-top: 5em;
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.icon-in {
  height: 4.2em;
  width: 4.2em;
  padding: 0.5em;
}

.icon-fb {
  height: 3.5em;
  width: 4.5em;
  padding: 0.5em;
}

.icon-tw {
  height: 3.5em;
  width: 3.5em;
  padding: 0.5em;
  margin-left: 0.3em;
}

.replacement-text {
  padding-bottom: 8.2em;
  padding-top: 5em;
}

.submit {
  width: 42%;
  padding: 1em;
  margin-bottom: 3em;
  background-color: #DBDBDB;
}

.slogan-container {
  padding-bottom: 3em;
  padding-top: 3em;
}

.text-container {
  text-align: center;
  width: 100%;
  padding-top: 2em;
}

.works-container {
  padding-bottom: 3em;

}
